<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="using Testng for the lesson_7">
    <test name="using Testng for the lesson_7">
        <classes>
            <class name="Lesson_7.AreaTriangleTest"></class>
            <class name="Lesson_7.ArithmeticOperationTest"></class>
            <class name="Lesson_7.FactorialTest"></class>
            <class name="Lesson_7.NumberComparatorTest"></class>
        </classes>
    </test>
</suite>